.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(27px);
  backdrop-filter: blur(27px);
  background-image: none;
  box-shadow: none;
  border-bottom: 1px solid #eaeaea;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo:hover {
  color: #0070f3;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.list {
  display: flex;
  align-items: center;
  width: 360px;
  height: 360px;
  overflow-y: scroll;
}

.swiper {
  width: 100%;
  height: calc(300px + 4rem);
  text-align: center;
  overflow: hidden;
}

.slide {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: black;
  opacity: 0.2;
  margin: 0 4px;
  transition: 0.2s transform, 0.2s left;
  position: relative;
  white-space: nowrap;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.card {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card .sprite {
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 25px;
}

.open:hover,
.open:focus,
.open:active {
  border-color: #0070f3;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer,
  .header {
    border-color: #222;
  }
  .header {
    background-color: rgba(30,30,30,0.6);
  }
  .bullet {
    background: white;
  }
}
